

.item{
    //font-family: 'Noto Color Emoji', sans-serif;
    font-family: 'Emoji';
    text-rendering: optimizeLegibility;
    font-weight: 400;
    cursor: pointer;
}

img{
    height: 100%;
    width: 100%;
}

.div-item {
    display: inline-block;
    text-align: center;
}