<ng-container *transloco="let t; lang: language">
<div [@changeColor]="colorState"
    (@changeColor.done)="onAnimationEvent($event)"
    class="div-body">
    <div class="title">
        <p class="mt20 mb5">{{ t('title') }}</p>
        <p class="mt0 font20">{{ t('author') }}</p>
    </div>
    <div class="intro" *ngIf="screen == 'intro'">
        <p class="mt20 lh30">{{ t('intro1') }}</p>
        <p class="mt20 lh30">{{ t('intro2') }}</p>
        <p  *ngIf="challengeMode != ''" class="mt20 lh30 challenge"><label class="lbl-emoji">🔥</label> {{ challengeText('challenge', challengeScore, challengeMode) }} <label class="lbl-emoji">🔥</label></p>
        <p class="mt20 lh30"><button class="w140" (click)="startBtnClick('easy')"><label class="lbl-emoji">😊</label> {{ t('easy') }}</button></p>
        <p class="mt20 lh30"><button class="w140" (click)="startBtnClick('normal')"><label class="lbl-emoji">😐</label> {{ t('normal') }}</button></p>
        <p class="mt20 lh30"><button class="w140" (click)="startBtnClick('hard')"><label class="lbl-emoji">🥵</label> {{ t('hard') }}</button></p>
    </div>
    <div class="mt20" *ngIf="screen == 'game'">
        <div class="div-hub" [style.width.px]="mainWidth">
            <div class="div-hub-part div-time" [style.width.px]="partWidth">
                {{time}}
            </div>
            <div class="div-hub-part div-target" [style.width.px]="partWidth">
                <speed-item [item]="targetItem"></speed-item>
            </div>
            <div class="div-hub-part div-points" [style.width.px]="partWidth">
                {{points}}
            </div>
        </div>
        <div class="div-main" [style.width.px]="mainWidth">
            <div *ngFor="let item of items" class="div-item" [style.width.px]="sizeItem" [style.height.px]="sizeItem" [style.font-size.px]="itemFontSize">
                <speed-item (click)="onSelect(item)" [item]="item"></speed-item>
            </div>
        </div>
    </div>
    <div class="intro" *ngIf="screen == 'end'">
        <p class="mt20">{{ t('timeUp') }}</p>
        <p class="mt20">{{points}}</p>
        <p *ngIf="challengeMode == mode && (points > challengeScore)" class="mt20"><label class="lbl-emoji">🤩</label> {{ challengeText('challengeSuccess', challengeScore, challengeMode) }}</p>
        <p *ngIf="challengeMode == mode && (points <= challengeScore)" class="mt20"><label class="lbl-emoji">😭</label> {{ challengeText('challengeFailure', challengeScore, challengeMode) }}</p>
        <p class="mt20"><button (click)="retry()"><label class="lbl-emoji">🔁</label> {{ t('tryAgain') }}</button></p>
        <p class="mt20"><button (click)="back()"><label class="lbl-emoji">◀</label> {{ t('back') }}</button></p>
        <p class="mt20"><label class="lbl-emoji">🔥</label> {{t('share')}}</p>
        <p>
            <share-button [theme]="'circles-dark'"
                [button]="'whatsapp'"
                [url]="'https://speed-game-vert.vercel.app/speed/'+challengeInfo()"
                [title]="'Emoji Speed Game'"
                [description]="'⏱️' + challengeText('shareChallenge', points, mode)"
                [autoSetMeta]="false"
            ></share-button>
            <share-button [theme]="'circles-dark'"
                [button]="'facebook'"
                [url]="'https://speed-game-vert.vercel.app/speed/'+challengeInfo()"
                [title]="'Emoji Speed Game'"
                [description]="'⏱️' + challengeText('shareChallenge', points, mode)"
                [autoSetMeta]="false"
            ></share-button>
            <share-button [theme]="'circles-dark'"
                [button]="'reddit'"
                [url]="'https://speed-game-vert.vercel.app/speed/'+challengeInfo()"
                [title]="'Emoji Speed Game'"
                [description]="'⏱️' + challengeText('shareChallenge', points, mode)"
                [autoSetMeta]="false"
            ></share-button>
            <share-button [theme]="'circles-dark'"
                [button]="'messenger'"
                [url]="'https://speed-game-vert.vercel.app/speed/'+challengeInfo()"
                [title]="'Emoji Speed Game'"
                [description]="'⏱️' + challengeText('shareChallenge', points, mode)"
                [autoSetMeta]="false"
            ></share-button>
            <share-button [theme]="'circles-dark'"
                [button]="'email'"
                [url]="'https://speed-game-vert.vercel.app/speed/'+challengeInfo()"
                [title]="'Emoji Speed Game'"
                [description]="'⏱️' + challengeText('shareChallenge', points, mode)"
                [autoSetMeta]="false"
            ></share-button>
            <share-button [theme]="'circles-dark'"
                [button]="'sms'"
                [url]="'https://speed-game-vert.vercel.app/speed/'+challengeInfo()"
                [title]="'Emoji Speed Game'"
                [description]="'⏱️' + challengeText('shareChallenge', points, mode)"
                [autoSetMeta]="false"
            ></share-button>
            <share-button [theme]="'circles-dark'"
                [button]="'copy'"
                [url]="'https://speed-game-vert.vercel.app/speed/'+challengeInfo()"
                [title]="'Emoji Speed Game'"
                [description]="'⏱️' + challengeText('shareChallenge', points, mode)"
                [autoSetMeta]="false"
            ></share-button>
        </p>
    </div>
</div>
</ng-container>