<ng-container *transloco="let t; lang: language">
<div [@changeColor]="colorState"
    (@changeColor.done)="onAnimationEvent($event)"
    class="div-body">
    <div class="title">
        <p class="mt20">{{ t('title') }} {{route}}</p>
    </div>
    <div class="intro" *ngIf="screen == 'intro'">
        <p class="mt20 lh30">{{ t('intro1') }}</p>
        <p class="mt20 lh30">{{ t('intro2') }}</p>
        <p class="mt20 lh30"><button class="w120" (click)="startBtnClick('easy')">😊 {{ t('easy') }}</button></p>
        <p class="mt20 lh30"><button class="w120" (click)="startBtnClick('normal')">😐 {{ t('normal') }}</button></p>
        <p class="mt20 lh30"><button class="w120" (click)="startBtnClick('hard')">🥵 {{ t('hard') }}</button></p>
    </div>
    <div class="mt20" *ngIf="screen == 'game'">
        <div class="div-hub" [style.width.px]="mainWidth">
            <div class="div-hub-part div-time" [style.width.px]="partWidth">
                {{time}}
            </div>
            <div class="div-hub-part div-target" [style.width.px]="partWidth">
                <speed-item [item]="targetItem"></speed-item>
            </div>
            <div class="div-hub-part div-points" [style.width.px]="partWidth">
                {{points}}
            </div>
        </div>
        <div class="div-main" [style.width.px]="mainWidth">
            <div *ngFor="let item of items" class="div-item" [style.width.px]="sizeItem" [style.height.px]="sizeItem" [style.font-size.px]="itemFontSize">
                <speed-item (click)="onSelect(item)" [item]="item"></speed-item>
            </div>
        </div>
    </div>
    <div class="intro" *ngIf="screen == 'end'">
        <p class="mt20">{{ t('timeUp') }}</p>
        <p class="mt20">{{points}}</p>
        <p class="mt20"><button (click)="retry()">🔁 {{ t('tryAgain') }}</button></p>
        <p class="mt20"><button (click)="back()">◀ {{ t('back') }}</button></p>
        <p>
            <share-button [theme]="'circles-dark'"
            [button]="'whatsapp'"
            [url]="'https://danielmgc.github.io/speed-game/browser/speed/'+points+'/'+mode"
            [title]="'I invite you to beat my score'"
            [description]="'I invite you to beat my score'"
            [autoSetMeta]="false"
            ></share-button>
        </p>
    </div>
</div>
</ng-container>